<div class="confirmation c2">
    <h1 class="uppercase">confirmation des informations</h1>
    <div class="line2 w30 margeAuto marginBot c1"></div>
    <table class="margeAuto">
        <tbody>
            <tr>
                <td>nom</td>
                <td> : </td>
                <td id="nom"></td>
            </tr>
            <tr>
                <td>prenom</td>
                <td> : </td>
                <td id="prenom"></td>
            </tr>
            <tr>
                <td>email</td>
                <td> : </td>
                <td id="email"></td>
            </tr>
            <tr>
                <td>date de naissance</td>
                <td> : </td>
                <td id="date_naissance"></td>
            </tr>
            <tr>
                <td>adresse</td>
                <td> : </td>
                <td id="adresse"></td>
            </tr>
            <tr>
                <td>ville</td>
                <td> : </td>
                <td id="ville"></td>
            </tr>
            <tr>
                <td>code postal</td>
                <td> : </td>
                <td id="code_postal"></td>
            </tr>
            <tr>
                <td>telephone</td>
                <td> : </td>
                <td id="telephone"></td>
            </tr>
        </tbody>
    </table>
</div>