//font family
$f1: "GothamBook";
$f2: "Gotham Light";
$f3: "Gotham";
//color
$c1:white;
$c2: #119ed1;
$c3: #034575;
$delete: rgb(179, 3, 3);
// $edit: rgb(15, 15, 79);
$disable: grey;
$validate: green;
$succes: #0466ac;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;